.bg-white {
  background-color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-purple {
  background-color: var(--color-purple);
}

.text-white {
  color: var(--color-white);
}

.text-black {
  color: var(--color-black);
}

.text-purple {
  color: var(--color-purple);
}

.text-red {
  color: var(--color-red);
}
