:root {
  --font-stack: 'Roboto', Helvetica, Arial, sans-serif;

  --color-white: #FFF;
  --color-black: #000;
  --color-grey: #EEF0F4;
  --color-purple: #2A3FFC;
  --color-red: #E2375E;
  --color-green: #0AA847;
}
