@import url('./reset.scss');
@import url('./global.scss');
@import url('./typography.scss');
@import url('./colors.scss');

html {
  font-size: 16px;
  font-family: var(--font-stack);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-grey);
  position: absolute;
  inset: 0;
}

#root {
  min-height: 100%;
  width: 100%;
}

.opacity-50 {
  opacity: 0.5;
}

.pointer {
  cursor: pointer;
}
