.btn {
  --font-size: 1.5rem;
  --icon-font-size: 1rem;
  --padding: 0.625rem;
  --radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  outline: none;
  cursor: pointer;
  border: 0;
  box-sizing: border-box;
  font-size: var(--font-size);
  padding: var(--padding);
  border-radius: var(--radius);

  &.btn-size-small {
    --font-size: 0.5rem;
    --icon-font-size: 0.5rem;
    --padding: 0.5rem;
    --radius: 1rem;
  }

  &.btn-size-large {
    --font-size: 1rem;
    --icon-font-size: 1rem;
    --padding: 1rem;
    --radius: 2rem;
  }

  &.btn-color-grey {
    color: var(--color-black);
    background-color: var(--color-grey);

    &:hover {
      background-color: hsl(from var(--color-grey) h s calc(l + 3));
    }

    &:active {
      background-color: hsl(from var(--color-grey) h s calc(l - 5));
    }
  }

  &.btn-color-purple {
    color: var(--color-white);
    background-color: var(--color-purple);

    &:hover {
      background-color: hsl(from var(--color-purple) h s calc(l + 10));
    }

    &:active {
      background-color: hsl(from var(--color-purple) h s calc(l - 10));
    }
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &.btn-is-disabled,
  &.btn-is-disabled:hover,
  &.btn-is-disabled:active,
  &.btn-is-disabled:focus {
    background: rgb(56 60 77 / 30%);
    color: rgb(255 255 255 / 20%);
    cursor: auto;
    box-shadow: none;
  }

  i {
    font-size: var(--icon-font-size);
  }
}