@use '../../containers';

.trade-crypto {
  display: flex;
  flex-direction: column;
  @include containers.coin-details-section;

  .trade-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
