@use '../../containers';

.trade-crypto {
  @include containers.coin-details-section;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .switch-btns-container {
    display: flex;
  }

  .switch-btn {
    flex: 1;
    padding-bottom: 0.75rem;
    border-bottom: 0.25rem solid var(--color-grey);
    transition: border-color 0.2s linear;

    &.active {
      border-color: var(--color-purple);
    }

    &:first-child {
      border-radius: 0 0 0 0.25rem;
    }

    &:last-child {
      border-radius: 0 0 0.25rem 0;
    }

    &:not(.active):hover {
      border-color: rgb(from var(--color-purple) r g b / 0.5)
    }
  }

  .trade-inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .payments-dropdown {
    display: flex;
    justify-content: center;
  }

  .price-container {
    display: flex;
    justify-content: space-between;
  }
}
