@use '../../containers';

.performance {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  @include containers.coin-details-section;

  .title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .performance-indicators {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-grey);
    border-radius: 0.5rem;

    li {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 1;
      text-align: center;
    }

    li + li {
      border-left: 2px solid rgb(0 0 0 / 0.25);
    }
  }
}
