.coin-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 1.5rem;
  max-width: 1286px;
  margin: auto;

  main,
  aside {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
