.coin-price-list-item {
  --bg-color: transparent;

  display: grid;
  grid-template-columns: 1fr 10fr 6fr;
  align-items: center;
  gap: 0.125rem 0.75rem;
  padding-block: 0.75rem;
  background: linear-gradient(to bottom, transparent, var(--bg-color), transparent);
  transition: --bg-color 0.2s linear;

  &:hover {
    --bg-color: var(--color-grey);
  }

  .coin-icon {
    grid-row: span 2;
    justify-self: center;
  }

  .justify-end {
    justify-self: end;
  }
}
